// Fonts

$font-family: 'Open Sans', sans-serif;
$font-family-body: 'Cookie', cursive;
$font-family-body-2: 'Tinos', serif;

//Colors

$color-orange: #FF7400;
$color-orange-2: #D67E35;
$color-orange-3: #BC9060;
$color-black: #2C2C2C;
$color-gray: #BC9060;
$color-white: #fff;
$color-line: #C4C4C4;
$color-gray-2: #656363;
$color-shadow: rgba(0, 0, 0, 0.1);

// Animations

$animation-breakpoint: md !default;
$animation-duration: 0.2s !default;
$animation-function: ease !default;
$transition-breakpoint: md !default;
$transition-duration: 0.2s !default;
$transition-function: ease !default;

// Grid Config

$grid-gutter: 15px;
$grid-breakpoints: (
        xs: 0,
        sm: 568px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
);
$container-max-widths: (
        sm: 522px,
        md: 708px,
        lg: 944px,
        xl: 1140px
);
$container-max-widths-sm: (
        sm: 522px,
        md: 708px,
        lg: 944px,
        xl: 970px,
);
