&--bg {
  background-image: url("../../../public/Hero/hero.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}