&--bg {
  background-image: url("../../../public/Hero/hero.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: auto;
  width: 100%;
  padding-top: 203px;
  left: 0;
  top: 0;
  //#{$root} {
  //
  //}

}