&--home {
  #{$root} {
    &__inner {
      max-width: 469px;
      position: relative;
      z-index: 1;
    }

    &__logo {
      display: flex;
      align-items: center;
      margin-bottom: 49px;
    }

    &__title {
      margin: 0;
      @include typo-bold;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.035em;
      color: $color-blue;
      margin-bottom: 61px;
    }

    &__subtitle {
      @include typo-regular;
      font-size: 24px;
      line-height: 45px;
      color: $color-blue;
      margin-bottom: 47px;
    }

    &__action {
      text-align: center;

      @include media-up(lg) {
        display: inline;
      }
    }
  }
}
