@import '../../mixins/index';
@import '../../variables/index';

&--base {
  @include typo-700;
  background: $color-orange;
  color: $color-white;
  padding: 14px 18px;

  &--padding {
    padding: 14px 27px;
  }

  &:hover {
    background: $color-orange-2;
  }

}
