@import '../../variables/index';

@mixin typo-700 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
@mixin typo-400 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

@mixin typo-tinos-400 {
  font-family: $font-family-body-2;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
}


